@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@font-face {
  font-family: "Pokemon";
  src: url("./fonts/pokemon_solid-webfont.woff2") format("woff2"),
    url("./fonts/pokemon_solid-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root{
  --main-bg-color: #c04854;
  --secondary-bg-color: #31376f;
}

body {
  background-color: whitesmoke;
  font-family: "Pokemon", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  
}

select {
  background-color: white;
}

.App {
  text-align: center;
  height: 100vh;
  padding-bottom: 20rem;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  background-image: url("./assets/background-image.png");
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3rem;
  color: whitesmoke;
  text-shadow: 5px 5px black;
}

.boton-ingreso {
  text-decoration: none;
  background-color: whitesmoke;
  padding: 0.3rem 3rem;
  border-radius: 10px;
  color: var(--main-bg-color);
  cursor: pointer;
  text-shadow: 5px 5px lightgray;
}

.boton-ingreso:hover {
  background-color: var(--main-bg-color);
  color: whitesmoke;
  text-shadow: 5px 5px darkgray;
}

.formulario-ingreso {
  color: #c4505c;
  font-family: 'pokemon';
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 3rem;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}

.input-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.input-contenedor input,
.input-contenedor select,
.boton-seleccionar-especies {
  padding: 1rem;
  width: 300px;
  border-radius: 10px;
  border-style: solid;
  margin-left: 1rem;
}

.input-contenedor select,
.boton-seleccionar-especies {
  width: 338px;
}

.formulario-ingreso .cuerpo-formulario {
  display: flex;
  flex-direction: row;
}

.formulario-ingreso h3 {
  width: 100%;
  padding: 1rem;
}

.detalle-formulario {
  width: 70%;
  border: 1px solid darkgray;
  margin: 0 3rem;
  border-radius: 6px;
  box-shadow: 6px 4px 6px rgba(43, 43, 43, 0.228);
}

.detalle-formulario .encabezado {
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--main-bg-color);
  color: whitesmoke;
}

.cuerpo-formulario .inputs {
  width: 40%;
  margin-left: 2rem;
}

.nombre-seccion {
  text-align: left;
  font-family: pokemon;
  font-size: medium;
  margin-top: 2rem;
  color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
}

.nombre-seccion img {
  width: 50px;
  margin-right: 1rem;
}

.datos-cliente .fila {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding: 0px 1rem;
  flex-wrap: wrap;
  color: var(--main-bg-color);
}

.fila span {
  color: rgb(92, 91, 91);
}

.loading{
  display:flex;
  justify-content: center;
}

.boton-enviar {
  padding: 0.3rem 3rem;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  color: whitesmoke;
  font-family: "Pokemon", sans-serif;
  border: none;
  box-shadow: 4px 4px 4px lightgray;
  margin-bottom: 1rem;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  align-self: flex-end;
}

.boton-enviar:hover {
  box-shadow: none;
  cursor: pointer;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  padding-right: 4rem;
  background-color: var(--main-bg-color);
  color: whitesmoke;
  font-weight: bold;
  font-family: "Pokemon", sans-serif;
  letter-spacing: 0.2rem;
}

.form-header div {
  display: flex;
  align-items: center;
}

.form-header img {
  width: 50px;
  margin-right: 3rem;
}

.volver {
  justify-self: end;
}

.popup-especie {
  width: 58%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border-radius: 8px;
  border: 1px solid lightgrey;
  box-shadow: 6px 4px 6px rgba(43, 43, 43, 0.228);
}

.contenedor-especies {
  width: 100%;
padding-bottom: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  
}

.boton-seleccionar-especies {
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

.boton-seleccionar-especies:hover {
  background-color: lightgray;
}

.botones-especie {
  margin: 0.4rem;
  
  padding: 0.6rem;
  border-radius: 10px;
  background-color: var(--main-bg-color);
  color: whitesmoke;
  cursor: pointer;
  border: 2px solid var(--main-bg-color);
  box-shadow: 2px 1px 2px 1px darkgray;
}

.botones-especie:hover {
  box-shadow: none;
}

.paginador {
  position: absolute;
  margin-top: 2rem;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
small{
  display: block;
  
  color:#c048546f;
  
}
.boton-anterior,
.boton-siguiente {
  
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: whitesmoke;
  color: var(--main-bg-color);
  cursor: pointer;
  border: 1px solid var(--main-bg-color);
  box-shadow: 1px 1px 1px 1px darkgray;
}

.boton-anterior:hover,
.boton-siguiente:hover {
  background-color: #e05c69;
  color: whitesmoke;
  box-shadow: none;
}

.boton-anterior {
  margin-right: 1rem;
}